@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --my-property: "value"; /* initial */

    /* color palette FOR breakfast food website */
    --color-1: #FFCC00;
    --color-2: #FF5733;
    --color-3: #C02300;
    --color-4: #F7E7CE;
    --color-5: #000000;

    /* font property */
    --font-body: "Montserrat", Arial, Helvetica, sans-serif;
    --font-heading: "Capriola", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-subheading: "Montserrat",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* button idle state property */
    --btn-text-idle-color: #000000;
    --btn-text-emphasis-color: #FFFFFF;

    --emphasis-btn-bg: var(--color-3);
    --emphasis-btn-border-bg: var(--emphasis-btn-bg);
    --main-btn-bg: #CCCCCC;
    --main-btn-border-bg: #CCCCCC;
    --outlined-btn-bg: #FFFFFF;
    --outlined-btn-border-bg: #222222;

    /* button hover state property */
    --btn-text-hover-emphasis-color: #000000;

    --emphasis-hover-btn-bg: #ffcc00;
    --emphasis-hover-border-bg: #ab8800;
    --main-hover-btn-bg: #fff6ca;
    --main-hover-border-bg: #614e00;
    
    /* header property */
    --header-height: 3.8em;
    --header-pad-block: 0.3em;
    --header-pad-inline: 2em;
    --header-title-extent: 1.35em;

    /* main tag property */
    --main-element-top-space: calc((var(--header-pad-block) * 2) + var(--header-height));
    --main-whitespace-inline: var(--header-pad-inline);

    /* first top segment (.on-high-division) of the page */
    --top-section-padding: 2.5em;

    /* contact container segment */
    --contact-ctn-gap: 1.5em;

    /* footer property */
    --footer-bg: #251E00;
    --footer-txt-color: #FFFFFF;

    --footer-link-idle-color: #beaa9b;
    --footer-link-hover-color: #ffffff;
}

* {
    font-family: var(--font-body);
}

/* html tag */
html {
    font-size: 1.125rem; /* from 16px multiplied by 1.125 is 18px */
    scroll-behavior: smooth;
}

/* body tag */
body {
    margin: 0; /* removing out the default margin of the <body> */
}

/* main tag */
main {
    padding: var(--main-element-top-space) var(--main-whitespace-inline) 0;

    /* all sections except the on-high-division, which is found at the first top of the page */

    > section.on-high-division {
        padding-inline: var(--top-section-padding); /* stylised using padding instead of margin */
    }

    > section:not(.on-high-division) {
        margin-block: 3em;
        margin-inline: var(--top-section-padding); /* this element is stylised using margin instead of padding to give extra whitespace from .on-high-division's padding inline. */
    }
}

/* headings */
h1, h2 {
    font-family: var(--font-heading); /* exclusive typeface for h2 */
}

h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* image with fixed assets */
img.fixed-asp {
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;
}

/* button tag */
button {
    --btn-transition-property: 0.2s ease;

    background-color: var(--main-btn-bg);
    border: solid 3px var(--main-btn-border-bg);
    border-radius: 2em;
    box-shadow: none;
    color: var(--btn-text-color); /* prevents other browsers showing different colours for idle state */    
    font-size: 1em;
    padding: 0.3em 1.5em;

    outline: none;

    transition: background-color var(--btn-transition-property),
                border-color var(--btn-transition-property),
                box-shadow var(--btn-transition-property),
                color var(--btn-transition-property);

    &:hover {
        cursor: pointer;

        background-color: var(--main-hover-btn-bg);
        border-color: var(--main-hover-border-bg);
    }

    /* varieties of button appearance */
    
    &.emphasis-btn {
        background-color: var(--emphasis-btn-bg);
        border-color: var(--emphasis-btn-border-bg);
        color: var(--btn-text-emphasis-color);

        /* hover state */
        &:hover {
            background-color: var(--emphasis-hover-btn-bg);
            border-color: var(--emphasis-hover-border-bg);
            box-shadow: 0px 0px 1em var(--color-1);
            color: var(--btn-text-hover-emphasis-color, #FFFFFF);
        }
    }

    &.outline-btn {
        background-color: var(--outlined-btn-bg);
        border-color: var(--outlined-btn-border-bg);
        
        /* hover state */
        &:hover {
            background-color: var(--main-hover-btn-bg);
            border-color: var(--main-hover-border-bg);
        }
    }

    &.no-appearance-btn {
        background-color: transparent;
        border-color: transparent;

        &:hover {
            background-color: #0000004d;
        }
    }
}

/* input & textbox tag */
input, textarea {
    --input-transition-property: 0.2s ease;

    background-color: #C2C2C2;
    border-radius: 1em;
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 0.5em 1em;

    transition: border-color var(--input-transition-property),
                background-color var(--input-transition-property),
                box-shadow var(--input-transition-property);
}

.italicised {
    font-style: italic;
}

.flex {
    display: flex;
}

.fully-rounded {
    border-radius: 30em;
}

.grid {
    display: grid;
}

/* list rating */
span.list-rating {
    display: block; /* make the element control on margin property */
    letter-spacing: 0.2em;
    margin-top: 0.3em;
    opacity: 60%;
}

.text-title {
    &.centre {
        text-align: center;
    }
}

/* COMMONLY OBSERVED ELEMENTS */

/* text description */
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Compliment Decor */
.compliments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Unordered Lists of Compliments / Non-Ul Tag Styling */
.compliment-container {
    border: 0.1em solid #68190765; /* thick bars on top and bottom side */
    border-left: none;
    border-right: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin-block: 0.5em;
    padding: 0.3em 0;
}

/* Compliment Cards */
.compliment-container .card-compliment {
    align-items: center;
    border-radius: 0.5em;
    display: flex;
    gap: 0.3em;
    justify-content: center;
    padding: 0.5em;

    /* icon styling */
    svg {
        fill: #f8f12a;
        stroke: var(--color-1);
        height: 1.5em;
        width: 1.5em;
    }

    span.special {
        font-weight: 500;
    }
    
    /* if there is a paragraph needed */
    .compliment-text h3 {
        font-weight: 900;
        font-style: italic;
        margin-block: 0.3em;
    }

    .compliment-text p {
        margin-block: 0.2em;
        opacity: 70%;
    }
}

/* Food Text Description */
.food-text-description {
    > h2, h3 {
        margin-block: 0.5em 0.2em;
    }
    
    > h3 {
        font-size: 1.4em;
    }

    > p {
        margin-block: 1em;
        opacity: 75%;
    }

    span.list-rating:nth-child(1) {
        margin-top: 0;
    }

    span.list-rating:nth-child(2) {
        margin-block: 0.8em;
    }
}

/* FOCAL CARD CONTAINER */
.pop-box-panel {
    --pop-box-border-radius: 2em;
    --pop-box-pad: 1em;

    background-color: #ffe3e3;
    border-radius: var(--pop-box-border-radius);
    gap: 2em;
    grid-template: 100% / 1fr 1.5fr;
    padding: 1em;
    
    display: grid;
    position: fixed;
    top: 15vh;
    bottom: 15vh;
    left: 10vw;
    right: 10vw;
    z-index: 999999; /* always in front */

    > .img-wrapper img {
        border-radius: calc(var(--pop-box-border-radius) - var(--pop-box-pad));        width: 100%;
    }

    /* close button styling */
    > button.close-btn {
        align-items: center;
        display: flex; /* keeps off the icon from slightly misaligned (slight shift upward from centre) */
        justify-content: center;
        padding: 0.2em;
        position: absolute;
        top: 1em;
        right: 1em;
        width: 2.5rem;
        height: 2.5rem;
    }

    > button.close-btn img {
        width: 1.2rem;
        height: 1.2rem;
    }
}

/* works only with presence of pop-box-panel */
.overlay-drop {
    position: fixed;
    background-color: #0000006f;
    /* captures the full view */
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    z-index: 99999; /* second after the .pop-box-panel */

    &:not:has(.pop-box-panel) {
        display: none;
    }
}

/* no scrolling while the presence of pop-box-panel */
body:has(.pop-box-panel) {
    overflow-y: hidden;
}

/* Wrapping Containers */
.pop-box-panel > .container-wraps {
    /* Contents at the top while the button is at the bottom */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        max-width: 13em;
    }

    button {
        width: fit-content; /* avoid unnecessary full width of the parent */
    }
}

/* text contents */
.pop-box-panel > .container-wraps .food-text-description :is(h2, h3) {
    text-transform: uppercase; /* ALL UPPERCASE */
}

/* ---------------------------------------------------------------- */

header {
    align-items: center;
    /* background-color: #d3d3d3; */
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: var(--header-pad-block) var(--header-pad-inline);
    position: fixed;
    width: calc(100% - (var(--header-pad-inline) * 2));
    z-index: 9999; /* always in front */

    h1 {
        color: var(--color-2);
        font-size: var(--header-title-extent);
        font-family: var(--font-body); /* exclusive typeface for h2 */
        font-weight: 800;
    }
}

header nav.navigational-links {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
        padding: 0.5em;
        margin: 0.5em;
    }

    /* nav links */
    ul li > a {
        text-decoration: none; /* removing out bullets */
    }

    /* unhovered state styling */
    ul li > a:not(:hover) {
        color: #000000;
    }

    /* hoevered state styling */
    ul li > a:hover {
        color: var(--color-2);
    }
}

header button#search {
    --srch-btn-extent: 2.25em;

    background-color: #000000;
    border-radius: 0.4em;
    height: var(--srch-btn-extent);
    width: var(--srch-btn-extent);
}

/* Hero Section Styling + Segment Page Overview */
section.on-high-division {
    --high-sct-pad-block: 2em;

    background-color: var(--color-1);
    border-radius: 2em;
    justify-content: center;
    padding-block: var(--high-sct-pad-block);
    text-align: center;
}

/* Hero Section Styling from the home page */
section.on-high-division#hero {
    --hero-padding-top: 2em;

    padding-block: var(--hero-padding-top);
    justify-content: space-between;
    overflow: hidden;
    position: relative; /* keeps the child element in absolute position to be relative in the parent */
    text-align: initial;

    /*  */
    .context {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* padding-bottom: calc(var(--hero-padding-top) * 1.5); */
    }

    .context .text-information h2 {
        font-size: clamp(1em, 4vw, 2.2em);
    }

    .context .call-to-action-btn {
        display: inline-flex;
        gap: 1em;
        padding-block: 3em 1.6em;
        z-index: 1;
    }

    .image-illustration {
        z-index: 30;

        & > img {
            border-radius: 1em;
            width: 17em;
            height: 17em;
        }
    }

    /* svg positioning */
    #surge-curve-layer-1 {
        fill: #ffffff;
        position: absolute;
        left: -0.1em;
        right: -0.1em;
        bottom: -0.2em;
        z-index: 0;
    }
}

/* TOP FOOD FAVOURITES THIS MORNING (ALSO FOUND ON REVIEW PAGE) + 
   CUISINE FOOD CATEGORIES w/ SWIPER */
section.top-food-segment .top-food-categories,
section.food-cuisine .swiper .cuisine-food-categories {
    font-size: clamp(0.5em, 1.5vw, 1em); /* font is based scaled for all phone dimensions until 640px */
    grid-template: repeat(2, auto) / repeat(3, 24vw); /* vw allows to fit in all text on all window dimensions for grid */
    justify-content: space-between;
    row-gap: 3vw;
    width: 100%;

    /* classically styled card of the food */
    .food-card {
        --food-card-br-radius: 2em;
        --food-card-padding: 1.3em;

        border-radius: var(--food-card-br-radius);
        box-shadow: 0 6px 10px #00000099;
        height: fit-content;
        
        .food-card-wrap, &:not(.swiper-slide) {
            padding: var(--food-card-padding);
        }
    }

    /* image inside the .food-card, triggers this style even when it is inside the wrap container */
    .food-card img {
        /* this formula is useful for the rest of the containers
           that might needing attention to border-radius inside the parent
           with border-radius as well, to give the consistent scale of the parent.  */
        border-radius: calc(var(--food-card-br-radius) - var(--food-card-padding));
        height: 12em;
        width: 100%;
        margin-bottom: 1em;

        /* dummy filter effect */
        &.empty-img {
            filter: sepia(30%);
        }
    }

    /* -- Button -- */
    .food-card > button {
        margin-top: 0.7em; /* give extra whitespace up on the button */
    }
}

section.food-cuisine .swiper {
    height: clamp(20em, 40vw, 28em);
}

/* FOOD CUISINES */
section.food-cuisine p {
    width: 70%;
}

/* OUR SERVICE */
/* section#services {

} */

/* grid styling segment */
section#services .work-aesthetic {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: repeat(2, 1fr) / 1fr auto 1fr;
    
    .job-phrase {
        margin-block: 3em;
        max-height: 10em;
        overflow: hidden; /* cuts down lengthy paragraphs */
        width: 24vw;

        > svg {
            fill: #ff5500;
            stroke: var(--color-1);
            width: 3em;
            height: auto;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
        
        > h3 {
            margin: 0;
        }
        
        > p {
            margin-block: 0.5em;
        }
    }

    /* grid areas */
    #image-service {
        grid-area: 1 / 2 / span 2 / span 1;
    }

    #j-1 {
        grid-area: 1 / 1 / span 1 / span 1;
    }
    #j-2 {
        grid-area: 2 / 1 / span 1 / span 1;
    }
    #j-3 {
        grid-area: 1 / 3 / span 1 / span 1;
    }
    #j-4 {
        grid-area: 2 / 3 / span 1 / span 1;
    }
}

/* image in grid */
section#services .work-aesthetic .two-images {
    padding: 1em;
    grid-template: repeat(11, 2em) / repeat(8, 2em); /* grid layer innovation concept */

    > img {
        border-radius: 2em;
        width: 12em;
        height: auto;

        /* behind */
        &.image-1 {
            grid-area: 1 / 1 / span 6 / span 6;
        }

        /* front */
        &.image-2 {
            grid-area: 6 / 3 / span 6 / span 6;
        }
    }
}

/* BENEFITS: WHY CHOOSE US? */
section#the-benefits {
    ul {
        gap: 1em;
        height: 24em;
        list-style: none;
        padding: 0;

        /* list with a special stylised align-self for optimal guide downwards */
        li:nth-child(1) {
            align-self: start;
        }
        li:nth-child(2) {
            align-self: center;
        }
        li:nth-child(3) {
            align-self: end;
        }
    }

    ul li {
        width: 100%;
    }

    ul li > h3  {
        margin: 0;
    }

    ul li > img.svg {
        /* icon extent as squared to maintain the scale/ratio */
        width: 2.8em;
        height: 2.8em;
    }
}

/* BOARD INNOVATION */
section#innovation-experience {
    > p {
        /* half of element's full width (100%) to maintain whitespace and reduce clutter */
        max-width: 30em;
    }
}

section#innovation-experience .the-boards {
    /* again, using the grid display gives attractive aesthetics,
       yet stylised in simpler way for the moment */
    gap: 1vw;
    grid-template: repeat(6, 7vw) / repeat(10, auto);
    width: 100%;

    > img {
        border-radius: 1vw;
    }

    > img.img-1 {
        grid-area: 1 / 1 / span 4 / span 6;
    }
    > img.img-2 {
        grid-area: 5 / 1 / span 2 / span 4;
    }
    > img.img-3 {
        grid-area: 1 / 7 / span 4 / span 4;
    }
    > img.img-4 {
        grid-area: 5 / 5 / span 2 / span 6;
    }
}

/* BOTTOM LAYER - STYLING */

section.bottom-layer {
    margin-block: 5em;
}

section.bottom-layer .primary-container {
    background-color: var(--color-4);
    padding: 2em;

    > .text-title h2 {
        margin-top: 0.4em;
    }
}

section.bottom-layer#newsletter-signup {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    /* newsletter display */
    .primary-container {
        grid-area: 1 / 2 / span 1 / 3;
    }

    /* newsletter form */
    .primary-container form {
        align-items: end; /* implemented to stick both input and the button as an adjacent guide */
        gap: 2em;

        section.form-block {
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        section.form-block > input {
            border-radius: 2em;
            border: solid 3px var(--color-5); /* [] */
            padding: 0.3em 0.5em;
        }
    }
}

/* ----------------- REVIEW PAGE ----------------- */

/* TOP FOOD RECOMMENDATION */
section#top-food-recommendation .recommended-box {
    --box-recommendation-radius: 2em;
    --box-recommendation-pad: 1.6em;
    
    background-color: #ffe0c7;
    border-radius: var(--box-recommendation-radius);
    grid-template-columns: repeat(3, 1fr); /* balanced width */
    justify-content: space-between;
    padding: var(--box-recommendation-pad);

    /* an instance of food image */
    > img {
        border-radius: calc(var(--box-recommendation-radius) - var(--box-recommendation-pad));
        width: 23vw;
        height: 23vw;
    }

    /* tags, heading, rating as static text */

    > .text-container .food-text-description h3 {
        font-size: 1.5em;
    }

    > .text-container .food-text-description .food-tags {
        span {
            border-radius: 0.2em;
            background-color: #4f3f00;
            color: #ffdd54; /* accent colour */
            padding: 0.1em 0.4em;
            margin-inline: 0.4em;

            &:first-child {
                margin-inline-start: 0;
            }
            &:last-child {
                margin-inline-end: 0;
            }
        }
    }

    > .text-container .user-profile {
        --username-font-size: 1.2em;
        --username-pad-block: 0.3em;
        --username-margin-left: 0.5em;
        --img-profile-extent: calc(var(--username-font-size) + (var(--username-pad-block) * 3));
        --top-label-margin-left: calc(var(--img-profile-extent) + var(--username-margin-left));

        /* a label above the username label */
        > span {
            margin-left: var(--top-label-margin-left);
            opacity: 60%;
        }
    }

    > .text-container .user-profile .bar-username {
        display: flex;
        margin-top: 0.3em;

        /* profile picture */
        img {
            width: var(--img-profile-extent);
            height: var(--img-profile-extent);
            border-radius: 100em;
        }

        /* box username */
        .username {
            align-content: center;
            border-radius: 50em;
            background-color: var(--color-1);
            font-size: var(--username-font-size);
            font-weight: 600;
            margin-left: var(--username-margin-left);
            padding: calc(var(--username-pad-block) / 2) 2em;
        }
    }

    /* compliment elements */
    > .compliments .compliment-container {
        display: block;
    }

    > .compliments #view-appraisals-btn {
        width: fit-content; /* avoid unnecessary full width of button in flex */
    }
}

/* OTHER REVIEWS */
section#other-reviews ul {
    padding: 0;
}

section#other-reviews ul li {
    --bar-bg: #1e4806;
    --bar-opacity: 50%;
    --bar-thickness: 2px;

    display: flex;
    gap: 2em;
    position: relative;
    margin-block: 3em;

    > img {
        border-radius: 1em;
        width: 9em;
        height: 9em;
    }

    /* Linear Below The List, excluding the last*/
    &:not(:last-child):after {
        content: "";
        background-color: var(--bar-bg);
        opacity: var(--bar-opacity);
        height: var(--bar-thickness);
        width: 100%;

        position: absolute;
        top: 115%;
    }

    .text-container button {
        width: fit-content;
    }
}

/* ----------------- CONTACT PAGE ----------------- */

/* FORM CONTAINER + CONTACT SIDE INFO */
section#form .contact-container {
    /* display: flex; */
    display: grid; /* 1/3 rule */
    grid-template: repeat(3, auto) / repeat(3, 1fr);

    gap: var(--contact-ctn-gap);
}

section#form .contact-container form {
    --input-border-extent: 2px;

    display: grid; /* grabbing in grid layouts */
    column-gap: var(--contact-ctn-gap);
    grid-template-columns: repeat(2, 1fr);
    grid-area: 1 / 1 / 4 / span 2;

    /* Form Blocks At Each Inputs */
    > .form-block {
        display: flex;
        flex-direction: column;
        width: 100%;

        /* block types: email, phone number, full name, message */
        &.ftg-1 {
            grid-area: 1 / 1 / span 1 / span 1;
        }
        &.ftg-2 {
            grid-area: 1 / 2 / span 1 / span 1;
        }
        &.ftg-3 {
            grid-area: 2 / 1 / span 1 / span 2;
        }
        &.ftg-4 {
            grid-area: 3 / 1 / span 1 / span 2;
        }
    }

    /* label styling */
    > .form-block label {
        opacity: 80%;
        margin-block: 0.5em;
    }

    > .form-block :is(input, textarea) {
        background-color: transparent;
        border: var(--input-border-extent) solid #00000044;
        /* obvious fit inside the form-block */
        width: calc(100% - var(--contact-ctn-gap) - (var(--input-border-extent) * 2));

        /* input style: accessibility hints on focus, hover and valid */

        /* original hover state */
        &:not(:focus):hover {
            border-color: #FF573399;
            background-color: #86868609;
        }

        /* valid state: validation */
        &:valid {
            border-color: #6A994E;
            background-color: #6A994E10;

            &:not(:focus):hover {
                border-color: #b8ce47;
                background-color: #cbcf0010;
            }
        }

        /* focus state */
        &:focus {
            border-color: #000000;
            background-color: #57575721;

            &:valid {
                border-color: #46c000;
                background-color: #5e9f3924;
            }
        }
    }

    /* the text area: message */
    > .form-block textarea {
        resize: vertical; /* resizeable height */
        height: 150px; /* initial */
        max-height: 320px; /* restricted maximum height, no beyond than 400px */
    }
}

section#form .contact-container .contact-info-side {
    background-color: var(--color-4);
    border-radius: 1em;
    grid-area: 1 / 3 / 4 / 4;
    padding: 1em;
    
    :has(svg) {
        display: flex;
    }

    /* contact block info */
    .contact-block {
        margin-block: 1.8em;

        &:first-child {
            margin-block-start: 0;
        }
        &:last-child {
            margin-block-end: 0;
        }
    }

    .contact-block > svg {
        stroke: #ff5500;
        fill: var(--color-1);
        width: 2em;
        height: 2em;
        margin-right: 0.5em;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .contact-block .contact-context > h3 {
        font-size: 1em;
        font-weight: 400;
        opacity: 50%;
    }

    .contact-block .contact-context > p {
        /* color: var(--color-2); */
        font-size: 1em;
        font-weight: 500;
    }

    .contact-block .contact-context > :is(h3, p) {
        margin-block: 0;
    }
}

/* Google Maps Frame */
section#maps iframe {
    border-radius: 1.2em;
    width: 100%;
    height: 400px;
}

/* FOOTER */

footer {
    background-color: var(--footer-bg);
    color: var(--footer-txt-color);
    padding: 1em 2em;

    h3 {
        font-weight: 800;
        margin: 0;
    }
}

footer section {
    justify-content: space-between;
    align-items: start;

    /* basic child properties inside section */

    > ul {
        display: flex;
        gap: 2em;
        list-style: none;
        /* detach a default spacing into zero-spacing for ul */
        margin: 0;
        padding: 0;
    }

    > ul li {
        color: var(--footer-link-idle-color);

        &:has(*:hover) {
            color: var(--footer-link-hover-color);
        }

        &#contact p {
            margin-block: 0;
        }
    }
}

/* ------ */

footer section.footer-top.flex {
    margin-block: 1.6em;

    > ul li#contact {
        color: var(--color-4);
    }
}

footer section.footer-bottom.flex {
    margin-block: 3em 1em;

    p {
        margin: 0;
    }
    
    ul.social-media-link li a {
        display: block; /* keeps off the icon from slightly misaligned (slight shift upward from centre) */
        opacity: 60%;
        background-color: #705900;
        padding: 0.3em;

        > img.svg {
            display: block; /* keeps off the icon from slightly misaligned (slight shift upward from centre) */
            filter: invert(1); /* color inversion of an icon */
            width: 1.2em;
        }

        &:hover {
            background-color: #a08206;
            opacity: 100%;
        }
    }
}

@media only screen and (min-width: 1160px) {
    /* svg bottom positioning adjustment */
    section.hero-segment #surge-curve-layer-1 {
        bottom: -16%;
    }
}

/* media queries for device extent less than 920px */
@media only screen and (max-width: 970px) {
    /* PANEL */
    .pop-box-panel {
        grid-template: 40% 60% / 1fr;
        gap: 0.5em;
        top: 5vh;
        bottom: 5vh;
    }
    
    .pop-box-panel > .container-wraps {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    /* fixed height */
    /* .pop-box-panel > .container-wraps .food-text-description {
        height: 17em;
    } */

    /* Hero Section */
    section.hero-segment {
        .context .text-information h2 {
            margin: 0;
        }

        .context .call-to-action-btn {
            padding-block: 1.6em; /* reduced padding start */
            display: inline;
        }


        .image-illustration {
            padding-left: 2em;

            /* reduced size */
            > img {
                width: 15em;
                height: 12em;
            }
        }

        /* svg width adjustment */
        #surge-curve-layer-1 {
            width: 110%;
        }
    }

    /* TOP FOOD FAVOURITES THIS MORNING */
    section.top-food-segment .top-food-categories {
        font-size: clamp(0.5em, 2.5vw, 1em); /* font is based scaled for all phone dimensions until 480px */
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
    }

    /* FOOD CUISINES */
    section.food-cuisine p {
        width: auto;
    }


    /* OUR SERVICE */
    section#services .work-aesthetic {
        row-gap: 2em;
        grid-template: repeat(3, auto) / repeat(2, 1fr); /* 2 x 3 grid */

        .job-phrase {
            background-color: var(--color-4);
            border-radius: 2em;
            min-height: 12em;
            max-height: 15em;
            margin-block: 0;
            padding: 1.5em 2em;
        }

        /* extended right by 2 */
        #image-service {
            grid-area: 1 / 1 / 1 / span 2;
        }

        #j-1 {
            grid-area: 2 / 1 / span 1 / span 1;
        }
        #j-2 {
            grid-area: 2 / 2 / span 1 / span 1;
        }
        #j-3 {
            grid-area: 3 / 1 / span 1 / span 1;
        }
        #j-4 {
            grid-area: 3 / 2 / span 1 / span 1;
        }
    }

    section#services .work-aesthetic .two-images {
        padding: 0;
        grid-template: repeat(8, 2em) / repeat(11, 2em);

        /* behind */
        > img.image-1 {
            grid-area: 1 / 1 / span 6 / span 6;
        }

        /* front */
        > img.image-2 {
            grid-area: 3 / 6 / span 6 / span 6;
        }
    }

    /* BENEFITS */
    section#the-benefits {
        margin-block: 3.2em 5em;

        > ul {
            flex-direction: column;
            height: auto;
        }
    }

    /* TOP FOOD RECOMMENDATION */
    section#top-food-recommendation .recommended-box {
        grid-template: auto 1fr / 1fr 1.5fr;
        gap: 2em;

        > img {
            width: 100%;
            height: 100%;
            grid-area: 1 / 1 / span 2 / span 1;
        }

        > .text-container {
            justify-content: start;
            gap: 2em;
        }

        > .text-container .user-profile {
            display: none;
        }

        /* compliment elements */
        > .compliments ul.compliment-container .card-compliment {
            justify-content: start;
        }
    }

    /* footer */
    footer section.footer-top.flex {
        flex-direction: column;
        gap: 1em;

        /* make each of links centred in text-align */
        > ul li {
            text-align: center;
        }
    }
}

/* media queries for device extent less than 780px */
@media only screen and (max-width: 780px) {
    /* HEADER */
    header nav {
        display: none;
    }

    /* HERO SECTION */
    section.hero-segment {
        flex-direction: column; /* in direction for contents from up to down: column */

        /* IMAGE */
        .image-illustration {
            display: flex;
            justify-content: center;
            padding: 0;

            /* based on window's width viewpoint */
            & > img {
                width: 65vw;
                height: 35vw;
            }
        }

        /* svg width adjustment */
        #surge-curve-layer-1 {
            width: 250%;
        }
    }

    /* BOTTOM LAYER */
    section.bottom-layer#newsletter-signup {
        display: block;

        /* email form: subscribe */
        .primary-container form {
            flex-direction: column;
            gap: 1em;
            align-items: start;

            section.form-block {
                width: 100%;
            }
        }
    }

    /* TOP FOOD RECOMMENDATION */

    section#top-food-recommendation .recommended-box {
        display: flex;
        flex-direction: column;
        gap: 1em;
        
        /* an instance of food image */
        > img {
            height: 12em;
        }

        /* Simplified Styling than the Original Style taking up much spaces */
        
        > .compliments ul.compliment-container .card-compliment {
            .compliment-text h3 {
                font-size: 0.9em;
                font-weight: 400;
                font-style: normal;
            }

            .compliment-text p {
                display: none;
            }
        }
    }

    /* FOOTER */
    footer section.footer-top.flex {

        /* footer links */
        > ul {
            display: block;
        }

        > ul li {
            margin-block: 5vw;
            text-align: left;
        }
    }

    footer section.footer-bottom.flex {
        flex-direction: column-reverse; /* the social media icon goes on the very top. */
        gap: 1em;
    }
}

@media only screen and (max-width: 640px) {
    :root {
        /* header property */
        --header-pad-inline: 5%;
    }

    /* all sections except the on-high-division, which is found at the first top of the page */
    main > section:not(.on-high-division) {
        margin-inline: 0;
    }

    /* Unordered List of Compliments */
    .compliment-container {
        display: block;
    }

    /* OTHER REVIEWS */
    section#other-reviews ul li > img {
        width: 28vw;
        height: 28vw;
    }

    /* TOP FOOD FAVOURITES */
    section.top-food-segment .top-food-categories {
        font-size: 1em;
        grid-template: none / 100%;

        .food-card > button {
            width: 100%;
        }
    }

    /* OUR SERVICE */
    section#services .work-aesthetic {
        /* font-size: 4vw; */
        display: block; /* stacked in each other */
        
        .job-phrase {
            margin-block: 5vw;
            width: auto; /* full view of the job-phrase illustration board */
        }
    }

    section#services .work-aesthetic .two-images {
        font-size: 4vw; /* self-adjustment linked to window's with viwepoint */
    }

    /* BOARD INNOVATION */
    section#innovation-experience .the-boards {
        gap: 3vw;
        grid-template: repeat(3, 50vw) / repeat(2, 1fr);

        > img.img-1 {
            grid-area: 1 / 1 / span 1 / span 2;
        }
        > img.img-2 {
            grid-area: 2 / 1 / span 1 / span 1;
        }
        > img.img-3 {
            grid-area: 2 / 2 / span 1 / span 1;
        }
        > img.img-4 {
            grid-area: 3 / 1 / span 1 / span 2;
        }
    }
}