@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --my-property: "value"; /* initial */

    /* color palette FOR breakfast food website */
    --color-1: #FFCC00;
    --color-2: #FF5733;
    --color-3: #6A994E;
    --color-4: #F7E7CE;
    --color-5: #000000;

    /* font property */
    --font-heading: "Capriola", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-subheading: "Montserrat",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-body: "Montserrat", Arial, Helvetica, sans-serif;
}

/* html tag */
html {
    font-size: 1.125rem; /* from 16px multiplied by 1.125 is 18px */
}

/* media queries for device extent less than 480px */
@media only screen and (max-width: 480px) {
    
}