@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --my-property: "value"; /* initial */

    /* color palette FOR breakfast food website */
    --color-1: #FFCC00;
    --color-2: #FF5733;
    --color-3: #6A994E;
    --color-4: #F7E7CE;
    --color-5: #000000;

    /* font property */
    --font-body: "Montserrat", Arial, Helvetica, sans-serif;
    --font-heading: "Capriola", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-subheading: "Montserrat",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* header property */
    --header-height: 3.8em;
    --header-pad-block: 0.3em;
    --header-pad-inline: 2em;
    --header-title-extent: 1.35em;

    /* main tag property */
    --main-element-top-space: calc((var(--header-pad-block) * 2) + var(--header-height));
    --main-whitespace-inline: var(--header-pad-inline);

    /* first top segment (.on-high-division) of the page */
    --top-section-padding: 2.5em;
}

* {
    font-family: var(--font-body);
}

/* html tag */
html {
    font-size: 1.125rem; /* from 16px multiplied by 1.125 is 18px */
}

/* body tag */
body {
    margin: 0; /* removing out the default margin of the <body> */
}

/* main tag */
main {
    padding: var(--main-element-top-space) var(--main-whitespace-inline) 0;
}

/* headings */
h2 {
    font-family: var(--font-heading); /* exclusive typeface for h2 */
}

h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* image with fixed assets */
img.fixed-asp {
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;
}

/* all sections except the on-high-division, which is found at the first top of the page */
section.on-high-division {
    padding-inline: var(--top-section-padding); /* stylised using padding instead of margin */
}

section:not(.on-high-division) {
    margin-inline: var(--top-section-padding); /* this element is stylised using margin instead of padding to give extra whitespace from .on-high-division's padding inline. */
}

/* button tag */
button {
    --internal-btn-bg: #FFFFFF;
    --internal-btn-border-bg: #000000; 

    background-color: var(--internal-btn-bg);
    border: solid 3px var(--internal-btn-border-bg);
    border-radius: 2em;
    
    font-size: 1em;
    padding: 0.3em 1.5em;

    outline: none;

    &:hover {
        cursor: pointer;
    }
}

button.high-point-btn {
    --internal-btn-bg: var(--color-2);
    --internal-btn-border-bg: var(--color-2);

    color: #FFFFFF;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* ---------------------------------------------------------------- */

header {
    align-items: center;
    /* background-color: #d3d3d3; */
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: var(--header-pad-block) var(--header-pad-inline);
    position: fixed;
    width: calc(100% - (var(--header-pad-inline) * 2));

    h1 {
        color: var(--color-2);
        font-size: var(--header-title-extent);
        font-weight: 800;
    }
}

header nav.navigational-links {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
        padding: 0.5em;
        margin: 0.5em;
    }

    /* nav links */
    ul li > a {
        text-decoration: none; /* removing out bullets */
    }

    /* unhovered state styling */
    ul li > a:not(:hover) {
        color: #000000;
    }

    /* hoevered state styling */
    ul li > a:hover {
        color: var(--color-2);
    }
}

header button#search {
    --srch-btn-extent: 2.25em;

    background-color: #000000;
    border-radius: 0.4em;
    height: var(--srch-btn-extent);
    width: var(--srch-btn-extent);
}

/* Hero Section Styling from the home page */
section.hero-segment {
    --hero-padding-top: 2em;

    background-color: var(--color-1);
    border-radius: 2em;
    padding-block: var(--hero-padding-top);
    justify-content: space-between;

    /*  */
    .context {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* padding-bottom: calc(var(--hero-padding-top) * 1.5); */
    }

    .context .text-information h2 {
        font-size: 2.2em;
    }

    .context .call-to-action-btn {
        display: inline-flex;
        gap: 1em;
        padding-block: 3em 1.6em;
    }

    .image-illustration {
        & > img {
            border-radius: 1em;
            width: 17em;
            height: 17em;
        }
    }
}

/*  */
section.top-food-segment .top-food-categories {
    font-size: clamp(0.5em, 1.5vw, 1em); /* font is based scaled for all phone dimensions until 480px */
    justify-content: space-between;
    margin-block: 3em;
    row-gap: 3vw;
    grid-template: repeat(2, auto) / repeat(3, 24vw); /* vw allows to fit in all text on all window dimensions */

    /* classically styled card of the food */
    .food-card {
        --food-card-br-radius: 2em;
        --food-card-padding: 1.3em;

        border-radius: var(--food-card-br-radius);
        box-shadow: 0 6px 10px #00000099;
        /* height: auto; */
        padding: var(--food-card-padding);
    }

    .food-card > img {
        /* this formula is useful for the rest of the containers
           that might needing attention to border-radius inside the parent
           with border-radius as well, to give the consistent scale of the parent.  */
        border-radius: calc(var(--food-card-br-radius) - var(--food-card-padding));
        height: 12em;
        width: 100%;

        /* dummy filter effect */
        &.empty-img {
            filter: sepia(30%);
        }
    }

    .food-card > span.list-rating {
        display: block; /* make the element control on margin property */
        letter-spacing: 0.5em;
        margin-top: 1em;
        opacity: 80%;
    }

    /* -- The Text Description Of A Food */
    .food-card > .food-text-account {
        h3 {
            font-size: 1.4em;
            margin-block: 0.5em 0.2em;
        }

        p {
            margin-block: 0 0.7em;
            opacity: 80%;
        }
    }

    /* -- Button -- */
    .food-card > button {
        margin-top: 0.7em; /* give extra whitespace up on the button */
    }
}

/* media queries for device extent less than 480px */
@media only screen and (max-width: 480px) {
    
}